* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product {
  height: 300px;
  width: 250px;
  background-color: rgb(139, 181, 163);
  /* border: 1px solid black; */
  position: relative;
}
.product-card {
  height: 100%;
  width: 100%;
  /* border: 1px solid orange; */
}
.product-details {
  /* border: 1px solid black; */
  height: 110px;
  width: 100%;
  position: absolute;
  top: 100%;
  padding-top: 5px;
  display: block;
}
.product-offer {
  display: inline-block;
  height: 30px;
  width: 60px;
  transform: rotate(-90deg);
  text-align: center;
  position: relative;
  top: 15px;
  left: -15px;
  background-color: black;
  color: white;
  z-index: 5;
  font-size: 13px;
  font-weight: bold;
  padding-top: 5px;
}
.product-card:hover p {
  height: 100%;
  width: 100%;
  /* border: 3px solid blue; */
  position: relative;
  background-color: rgba(80, 80, 80, 0.7);
  top: -160px;
}
.product-icon {
  width: 100%;
  height: 60px;
  /* border: 1px solid red; */
  position: absolute;
  bottom: 20px;
  left: 0;
  padding-left: 30px;
}
.product-icon span {
  display: none;
  width: 18%;
  height: 70%;
  /* border: 1px solid black; */
  margin: 0 1px;
  background-color: white;
}
.product-card:hover .product-icon span {
  display: inline-block;
}
.product-review,
.product-name,
.product-price {
  /* border: 1px solid red; */
  padding: 3px;
}
.product-price span {
  margin-right: 10px;
}
.product-price span del {
  opacity: 0.5;
}
.product-color span {
  display: inline-block;
  height: 15px;
  width: 20px;
  /* border: 1px solid black; */
  margin: 3px 7px 0 1px;
}
.product .product-total-review {
  padding-top: 4px;
  font-size: 13px;
  opacity: 0.7;
}
