* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.mobile {
  display: none;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 20px;
  z-index: 10;
  background-color: #fff;
  /* border: 1px solid black; */
}
header .logo {
  position: relative;
  font-size: 2em;
  color: rgb(15, 15, 15);
  text-decoration: none;
  font-weight: 700;
  margin-right: 100px;
  /* border: 1px solid red; */
}
header nav {
  /* border: 1px solid red; */
  /* width: 30%; */
}
li {
  cursor: pointer;
}
header nav,
ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
ul {
  /* border: 1px solid black; */
}
header ul li {
  list-style: none;
  margin: 0 10px;
}
header ul li a {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}
header .nav-left {
  display: flex;
  justify-content: flex-start;
  /* position: fixed; */
  /* border: 1px solid green; */
}
header .nav-left ul {
  /* width: 70%; */
  display: flex;
  justify-content: space-between;
  font-size: 19px;
}
header .nav-mid {
  /* position: fixed; */
  /* left: 60px; */
  /* border: 1px solid blue; */
}
header .nav-right {
  /* border: 1px dotted violet; */
  display: flex;
  position: relative;
}
header .nav-right ul li {
  /* border: 1px solid red; */
}
header ul li a:hover {
  color: rgb(158, 163, 110);
}
header .search-box {
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 15px; */
}
.mobile-icon button {
  border: none;
  background: white;
  /* margin-right: 50px; */
  /* border: 1px solid black; */
  cursor: pointer;
}

.searchInput {
  position: absolute;
  border: 1px solid #777;
  width: 85px;
  border-radius: 15px;
  height: 30px;
  padding: 0 15px;
  left: -90px;
  outline: none;
}

.searchInput :focus {
  width: 175px;
}

/* Mobile View */
@media screen and (max-width: 980px) {
  .nav-left ul li {
    display: none;
  }
  .nav-mid h3 {
    /* border: 1px solid red; */
    position: fixed;
    top: 20px;
    left: 20px;
  }
  .nav-right {
    display: none;
  }
  .mobile-menu {
    display: block;
    /* overflow: hidden; */
    z-index: 100;
    width: 250px;
    height: 1000px;
    /* border: 1px solid red; */
    position: absolute;
    top: -10px;
    left: 0px;
    background-color: rgb(192, 192, 84);
    transition: all 1s;
    padding-left: 10px;
  }

  .mobile-menu ul {
    display: block;
  }
  .mobile-menu li {
    /* border: 1px solid red; */
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu li a {
    font-weight: bold;
  }
  .mobile-logo {
    font-size: 40px;
    margin: 50px 0 40px 50px;
  }
  .account-icon {
    display: none;
  }
  /* .mobile, */
  .mobile-icon {
    display: flex;
    cursor: pointer;
    width: 50px;
    /* margin-left: 70%; */
    outline: none;
    justify-content: center;
  }
  header {
    justify-content: space-between;
  }
}
@media screen and (max-width: 780px) {
  .badge-icon {
    display: none;
  }
}
